#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#header {
  height: 10vh;
  width: 100%;
  background-color: black;
}

#plot-matrix {
  position:absolute;
  height: 90%;
  width:75%;
  right:0%;
  background-color: grey;
}

#plot1 {
  height: 50%;
  width: 50%;
  background-color: aquamarine;
}

#plot2 {
  height: 50%;
  width: 50%;
  background-color: yellow;
}

.leaflet-draw-actions {
  z-index: 10000;
}