/* body {
  height: 100vh;
}

.header {
  height: 15vh;
  background-color: aqua;
}

#map {
  height: 85vh;
  width: 30%;
} */

#map {
  position: absolute;
  height: 100%;
  width: 70%;
}

#plot {
  position:absolute;
  height: 100%;
  width: 28%;
  left:72%;
  background-color: aquamarine;
}